<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="path" value="..\..\..\..\efwplus开发平台\WebPlatform"/>
    <add key="port" value="884"/>
    <add key="virtRoot" value="/"/>
    <add key="defaultpage" value="index.html"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
